

body{
    background-color: #88c1d0;
}

/* Pour écran entre 1920px et 1680px */

@media (max-width:1920px) and (min-width:1680px){
    body{
        background-color:#ffca4b;
    }
}

/* Pour écran entre 1280px et 1680px */

@media (max-width:1680px) and (min-width:1280px){
    body{
        background-color:#275fa0;
    }
}

/* Pour écran inférieur à 1280px */

@media (max-width:1280px){
    body{
        background-color:#ffffff;
    }
}